body {
background-color:#fffde6;
}


.offline {
	visibility: hidden;
	color: #f00;
	font-style: italic;
}


#compass {
	
	position:absolute;
	text-align: center;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 438px;
    margin-top: 30px;
	width: 300px;
	height: 300px;
	display:none;
}

#play {
	position:absolute;
	text-align: center;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 438px;
    margin-top: 30px;
	width: 300px;
	height: 300px;
}

#data {
	position:absolute;
	text-align: left;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-top: 323px;
	width: 300px;
	height: 300px;
	display:none;

}

#route {

}

#route1 {
	position:absolute;
	text-align: center;
    margin-left:7px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-top: 370px;
	width: 300px;
}

#route2, #route3, #route4, #route5, #route6 {
	position:absolute;
	text-align: center;
    margin-left:7px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-top: 370px;
	width: 300px;
	display:none;
}


