.logo {
	text-align: center;
}

.offline {
	visibility: hidden;
	color: #f00;
	font-style: italic;
}

#map {
	width: 100%;
	height: 200px;
}

#noteimage {
	width: 200px;
	height: 200px;
	display: none;
}

/* the initial rotation value */
#compass
{
	transform:rotate(0deg); /* in case someone creates a compliant browser */
	-ms-transform:rotate(0deg); /* WP7 */
	-webkit-transform:rotate(0deg); /* iOS and Android */
}